body {
    background-color: rgb(221, 236, 250);
    color: rgb(141, 141, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2, h1 {
    color: #000;
}
main {
    text-align: center;
}
#faint {
    font-weight: 100;
    color: rgb(141, 141, 139);
    margin-top: 5%;
    margin-bottom: -20px;
}
#desc {
     text-align: center;
     margin-left: 35%;
     width: 33%;

}
section {
    margin-left: 10%;
    border: 2px solid rgb(255, 255, 255);
    border-top: 2px solid lightseagreen;
    width: 20%;
    background-color: #ffff;
    border-radius: 3%;
    
}
h2, section > p {
    margin-left: 5%;
}
i {
    display: flex;
    justify-content: flex-end;
}
@media all and (max-width: 600px) {
    
    main {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 15%;
        text-align: center;
        font-size: .79em;
    }
    #faint {
        margin-bottom: -15px;
        font-size: 2.05em;

        
    }
    h2, section > p {
        margin-left: 10%;
    }
    section > p {
        margin-top: -5%;
        font-size: .9em;
        
    }
    #desc {
        margin-left: 2%;
        margin-right: 5%;
        text-align: justify;
        font-size: 1.2em;
        width: 95%;
    }
    section {
        margin-top: 15%;
        width: 89%;
        margin-left: 5%;
    }
    
    
}